{% extends "base.html.twig" %}{# empty Twig template #}

{% block menu %}
    <li class="nav-item">
        <a href="{{ path('bk_home') }}" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Main Menu
                <span class="right badge badge-danger">New</span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('bk_statement') }}" class="nav-link">
            <i class="nav-icon fas fa-history"></i>
            <p>
                E-Statement
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('bk_tr1_add') }}" class="nav-link">
            <i class="nav-icon fas fa-exchange-alt"></i>
            <p>
                Fund Transfer
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('bk_cc_list') }}" class="nav-link">
            <i class="nav-icon fas fa-credit-card"></i>
            <p>
                Credit Card
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('bk_loan_ask') }}" class="nav-link">
            <i class="nav-icon fas fa-hand-holding-usd"></i>
            <p>
                Apply for a loan
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('bk_loan') }}" class="nav-link">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>
                Loan Menu
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('bk_dest_add') }}" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
                Add recipient
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('bk_help') }}" class="nav-link">
            <i class="nav-icon fas fa-question-circle"></i>
            <p>
                Get help
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>
{% endblock %}

{% block body %}
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-danger">500</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

                <p>
                    You are not elligible to international transfer.
                    Kindly contact support to get your account activated

                </p>

                <form class="search-form">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" name="submit" class="btn btn-danger"><i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.input-group -->
                </form>
            </div>
        </div>
        <!-- /.error-page -->

    </section>

{% endblock %}