<!doctype html>
<html class="no-js" lang="zxx">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{ config.siteName }}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Place favicon.ico in the root directory -->
      <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.png">

      <!-- CSS here -->
      <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/swiper-bundle.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/slick.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/font-awesome-pro.css') }}"> 
      <link rel="stylesheet" href="{{ asset('assets/css/flaticon.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/spacing.css') }}">
      <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
   </head>
   <body>
      <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->


      <!-- pre loader area start -->
      <div id="loading">
         <div id="loading-center">
            <div class="preloader"></div>
         </div>  
      </div>
      <!-- pre loader area end -->


      <!-- back to top start -->
      <div class="back-to-top-wrapper">
         <button id="back_to_top" type="button" class="back-to-top-btn">
            <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M11 6L6 1L1 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>               
         </button>
      </div>
      <!-- back to top end -->


      <!-- search area start -->
      <div class="search-area">
         <div class="search-inner p-relative">
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-lg-8">
                     <div class="search-wrapper">
                        <div class="search-close">
                           <button class="search-close-btn">
                              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                 <path d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                           </button>
                        </div>
                        <div class="search-content pt-35">
   <h3 class="heading text-center mb-30">Salut ! Comment pouvons-nous vous aider ?</h3>
   <div class="d-flex justify-content-center px-5">
      <div class="search w-100 p-relative">
         <input type="text" class="search-input" placeholder="Rechercher...">
         <button class="search-icon">
            <i class="fa fa-search"></i>
         </button>
      </div>
   </div>
</div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="search-overlay"></div>
      <!-- search area end -->


      <!-- offcanvas area start -->
      <div class="offcanvas__area">
         <div class="offcanvas__wrapper">
            <div class="offcanvas__close">
               <button class="offcanvas__close-btn offcanvas-close-btn">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M11 1L1 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                     <path d="M1 1L11 11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
               </button>
            </div>
            <div class="offcanvas__content">
               <div class="offcanvas__top mb-50 d-flex justify-content-between align-items-center">
                  <div class="offcanvas__logo logo">
                     <a href="index.html">
                        <img src="{{ asset('assets/img/logo/logo-black.png') }}" alt="logo">
                     </a>
                  </div>
               </div>

                  <div class="tp-main-menu-mobile fix d-xl-none mb-40"></div>
               
               <div class="offcanvas__contact">
                  <h4 class="offcanvas__title">Contacts</h4>
                  <div class="offcanvas__contact-content d-flex">
                     <div class="offcanvas__contact-content-icon">
                        <i class="fa-sharp fa-solid fa-location-dot"></i>
                     </div>
                     <div class="offcanvas__contact-content-content">
                        <a href="#">{{ config.address }} </a>
                     </div>
                  </div>
                  <div class="offcanvas__contact-content d-flex">
                     <div class="offcanvas__contact-content-icon">
                        <i class="fa-solid fa-envelope"></i>
                     </div>
                     <div class="offcanvas__contact-content-content">
                        <a href="#"> <span class="__cf_email__">{{ config.adminEmail }}</span>  </a>
                     </div>
                  </div>
                  <div class="offcanvas__contact-content d-flex">
                     <div class="offcanvas__contact-content-icon">
                        <i class="fa-solid fa-phone"></i>
                     </div>
                     <div class="offcanvas__contact-content-content">
                         <a href="#">Connectez-vous à votre compte</a>
                     </div>

                  </div>
               </div>
               <div class="offcanvas__social">
                   <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(en)&#39;;location.reload();" style="margin-right:5px;"><img src="{{ asset('img/en.png') }}"></a>
                        <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(fr)&#39;;location.reload();" style="margin-right:5px;"><img src="{{ asset('img/fr.png') }}"></a>
                        <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(es)&#39;;location.reload();" style="margin-right:5px;"><img src="{{ asset('img/es.png') }}"></a>
                        <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(it)&#39;;location.reload();" style="margin-right:5px;"><img src="{{ asset('img/it.png') }}"></a>
                        <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(de)&#39;;location.reload();" style="margin-right:5px;"><img src="{{ asset('img/de.png') }}"></a>
                        <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(pt)&#39;;location.reload();" style="margin:0px;"><img src="{{ asset('img/pt.png') }}"></a>
                        <a href="javascript:void()"  onclick="window.location.hash='#googtrans(el)';location.reload();" style="margin:0px;"><img src="{{ asset('img/bk.png') }}"></a>
                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({pageLanguage: 'fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
                            }
                        </script>
                        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                        <!-- SEARCH FORM -->
                        <!-- TradingView Widget BEGIN -->
               </div>
            </div>
         </div>
      </div>
      <div class="body-overlay"></div>
      <!-- offcanvas area end -->


      <!-- header area start -->
      <header class="tp-header-area p-relative">
         <div class="tp-header-box p-relative">
            <div class="tp-header-logo p-relative">
               <span class="tp-header-logo-bg"></span>
               <a href="#">
                  <img src="{{ asset('assets/img/logo/logo.png')}}" alt="">
               </a>
            </div>
            <div class="tp-header-wrapper-inner header__sticky p-relative">
               <div class="tp-header-top d-none d-xl-flex">
                  <div class="tp-header-top-info">
                     <a href="https://www.google.com/maps/search/6391+Elgin+St,+Wilmington,+DE,+USA/@39.7298967,-75.5645038,13z/data=!3m1!4b1" target="_blank"><span><i class="fa-sharp fa-solid fa-location-dot"></i></span>{{ config.address }}</a>
                  </div>
                  <div class="tp-header-top-right d-flex justify-content-end align-items-center">
                     <div class="header-social ">
                         <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(en)&#39;;location.reload();" style="margin-right:5px;"><img src="{{ asset('img/en.png') }}"></a>
                        <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(fr)&#39;;location.reload();" style="margin-right:5px;"><img src="{{ asset('img/fr.png') }}"></a>
                        <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(es)&#39;;location.reload();" style="margin-right:5px;"><img src="{{ asset('img/es.png') }}"></a>
                        <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(it)&#39;;location.reload();" style="margin-right:5px;"><img src="{{ asset('img/it.png') }}"></a>
                        <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(de)&#39;;location.reload();" style="margin-right:5px;"><img src="{{ asset('img/de.png') }}"></a>
                        <a href="javascript:void()" onclick="window.location.hash=&#39;#googtrans(pt)&#39;;location.reload();" style="margin:0px;"><img src="{{ asset('img/pt.png') }}"></a>
                        <a href="javascript:void()"  onclick="window.location.hash='#googtrans(el)';location.reload();" style="margin:0px;"><img src="{{ asset('img/bk.png') }}"></a>
                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({pageLanguage: 'fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
                            }
                        </script>
                        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                        <!-- SEARCH FORM -->
                        <!-- TradingView Widget BEGIN -->
                     </div>
                  </div>
               </div>
               <div class="tp-header-main-menu d-flex align-items-center justify-content-between">
                  <div class="tp-main-menu d-none d-xl-block">
                     <nav class="tp-main-menu-content">
                     	
                        <ul>
                            
                          {% block menu %}
                          {% endblock %}
                        </ul>
                     </nav>
                  </div>
                  <div class="tp-header-main-right d-flex align-items-center justify-content-xl-end">
                     <div class="tp-header-contact d-xl-flex align-items-center d-none">
                        <div class="tp-header-contact-search search-open-btn d-none d-xxl-block">
                           <span><i class="fa-solid fa-magnifying-glass"></i></span>
                        </div>
                        <div class="tp-header-contact-inner d-flex align-items-center">
                           <div class="tp-header-contact-icon">
                              <span><i class="fa-solid fa-phone"></i></span>
                           </div>
                           <div class="tp-header-contact-content">
                              <p>Mon compte :</p>
                              <span><a href="{{ path('bk_home') }}">connexion</a></span>
                           </div>
                        </div>
                     </div>
                     <div class="tp-header-sticky-hamburger d-xl-none offcanvas-open-btn">
                        <button class="hamburger-btn">
                           <span></span>
                           <span></span>
                           <span></span>
                        </button>
                     </div>
                  </div>

               </div>
            </div>
            <div class="tp-header-btn">
   <a class="tp-btn d-none d-xl-block" href="{{ path('bk_contact') }}">Obtenir un devis <i class="fa-regular fa-arrow-right"></i></a>
   <div class="tp-header-main-right-hamburger-btn d-xl-none offcanvas-open-btn">
      <button class="hamburger-btn">
         <span></span>
         <span></span>
         <span></span>
      </button>
   </div>
</div>

         </div>
      </header>
      <!-- header area end -->

      <!-- sticky header start -->
      <header id="header-sticky" class="tp-header-main-sticky p-relative">
         <div class="tp-header-space-2">
            <div class="container-fluid">
               <div class="row align-items-center">
                  <div class="col-xl-3 col-6">
                     <div class="tp-header-logo-2 p-relative">
                        <a href="index.html">
                           <img src="{{ asset('assets/img/logo/logo-black.png') }}" alt="">
                        </a>
                     </div>
                  </div>
                  <div class="col-lg-6 d-none d-xl-block">
                     <div class="tp-main-menu home-2 d-none d-xl-block">
                        <nav class="tp-main-menu-content">
                          

                              <ul>
                                 <li><a href="{{ path('bk_accueil') }}">Accueil</a></li>
                                 <li><a href="{{ path('bk_about') }}">À propos</a></li>
                                 <li><a href="{{ path('bk_service') }}">Services</a></li>
                                 
                                 <li><a href="{{ path('bk_public_track') }}">Suivi de transaction</a></li>
                                 <li><a href="{{ path('bk_contact') }}">Contact</a></li>

		                          {% block menu1 %}
		                          {% endblock %}
                        
                          	 </ul>
                        </nav>
                     </div>
                  </div>
                  <div class="col-xl-3 col-6">
    <div class="tp-header-main-right-2 d-flex align-items-center justify-content-xl-end">
        <div class="tp-header-contact-2 d-flex align-items-center">
            <div class="tp-header-contact-search search-open-btn d-none d-xxl-block">
                <span><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            <div class="tp-header-contact-inner d-none d-xl-flex align-items-center">
                <div class="tp-header-contact-icon">
                    <span><i class="fa-solid fa-phone"></i></span>
                </div>
                <div class="tp-header-contact-content">
                    <p>Mon compte :</p>
                    <span><a href="{{ path('bk_home') }}">connexion</a></span>
                </div>
            </div>
        </div>
        <div class="tp-header-main-right-hamburger-btn d-xl-none offcanvas-open-btn text-end">
            <button class="hamburger-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</div>

               </div>
            </div>
         </div>
      </header>
      <!-- sticky header end -->
    {% block body %}
    {%  endblock %}
         <!-- footer area start -->
         <footer class="tp-footer-area pt-80 p-relative z-index-1" data-bg-color="#16243E">
            <div class="tp-footer-bg-shape">
               <img src="{{ asset('assets/img/footer/bg-shape.png')}}" alt="">
            </div>
            <div class="tp-footer-main-area tp-footer-border">
               <div class="container">
                  <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="tp-footer-widget tp-footer-col-1 mb-50">
            <div class="tp-footer-logo mb-20">
                <a href="index.html"> <img src="assets/img/logo/logo.png" alt=""></a>
            </div>
            <div class="tp-footer-widget-content">
                <p>Le traitement des paiements est un composant essentiel de toute entreprise qui vend des produits.</p>
                <div class="tp-footer-widget-social">
                    <a href="index.html#"><i class="fab fa-facebook-f"></i></a>
                    <a href="index.html#"><i class="fab fa-twitter"></i></a>
                    <a href="index.html#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="index.html#"><i class="fa-brands fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
                        <div class="col-xl-2 col-lg-4 col-md-6">
        <div class="tp-footer-widget tp-footer-col-2 mb-50">
            <h3 class="tp-footer-widget-title">Liens rapides</h3>
            <div class="tp-footer-widget-content">
                <ul>
                    <li><a href="{{ path('bk_accueil') }}">Accueil</a></li>
                    <li><a href="{{ path('bk_about') }}">À propos de nous</a></li>
                    <li><a href="{{ path('bk_service') }}">Services</a></li>
                    <li><a href="{{ path('bk_blog') }}">Blog Grid</a></li>
                    <li><a href="{{ path('bk_contact') }}">Contactez-nous</a></li>
                </ul>
            </div>
        </div>
    </div>


                     <div class="col-xl-3 col-lg-4 col-md-6">
    <div class="tp-footer-widget tp-footer-col-3 mb-50">
        <h3 class="tp-footer-widget-title">Articles populaires</h3>
        <div class="tp-footer-widget-content">
            <div class="tp-footer-widget-item">
                <h4 class="tp-footer-widget-item-title"><a href="blog-details.html">Comment obtenir le meilleur prêt ?</a></h4>
                <span><i class="fa-regular fa-calendar-days"></i> 19 juillet 2023</span>
            </div>
            <div class="tp-footer-widget-item">
                <h4 class="tp-footer-widget-item-title"><a href="blog-details.html">Une nouvelle manière d'obtenir un prêt</a></h4>
                <span><i class="fa-regular fa-calendar-days"></i> 5 juin 2023</span>
            </div>
            <div class="tp-footer-widget-item">
                <h4 class="tp-footer-widget-item-title"><a href="blog-details.html">Financez votre maison</a></h4>
                <span><i class="fa-regular fa-calendar-days"></i> 6 mars 2023</span>
            </div>
        </div>
    </div>
</div>

                     <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tp-footer-widget tp-footer-col-4 mb-50">
                           <h3 class="tp-footer-widget-title">Contact us</h3>
                           <div class="tp-footer-widget-content">
                              <div class="tp-footer-widget-contact">
                                 <div class="tp-footer-widget-contact-inner">
                                    <a href="https://www.google.com/maps" target="_blank"><i class="fa-sharp fa-solid fa-location-dot"></i> {{ config.address }}</a>
                                 </div>
                                 <div class="tp-footer-widget-contact-inner">
                                    <a href="tel:123456765"><i class="fa-solid fa-phone"></i> {{ config.mobileNumber }}</a>
                                 </div>
                                 <div class="tp-footer-widget-contact-inner">
                                    <a href="#"><i class="fa-solid fa-envelope"></i> <span class="__cf_email__">{{ config.adminEmail }}</span></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tp-footer-copyright-area p-relative">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12 col-lg-6">
                        <div class="tp-footer-copyright-inner">
                           <p>© {{ config.siteName }} 2023 | All Rights Reserved</p>
                        </div>
                     </div>
                     <div class="col-md-12 col-lg-6">
    <div class="tp-footer-copyright-inner text-lg-end">
        <a href="#">Nos prêts</a>
        <a href="#">Trading &amp; Commerce</a>
        <a href="#">Banque &amp; Private Equity</a>
        <a href="#">Industrie &amp; Usine</a>
        <a href="#">Solutions financières</a>
    </div>
</div>

                  </div>
               </div>
            </div>
         </footer>
         <!-- footer area end -->



      <!-- JS here -->
      <script data-cfasync="false" src="https://template.wphix.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/vendor/jquery.js"></script>
      <script src="assets/js/vendor/waypoints.js"></script>
      <script src="assets/js/bootstrap-bundle.js"></script>
      <script src="assets/js/meanmenu.js"></script>
      <script src="assets/js/swiper-bundle.js"></script>
      <script src="assets/js/slick.js"></script>
      <script src="assets/js/jquery-appear.js"></script>
      <script src="assets/js/jquery-knob.js"></script>
      <script src="assets/js/magnific-popup.js"></script>
      <script src="assets/js/nice-select.js"></script>
      <script src="assets/js/purecounter.js"></script>
      <script src="assets/js/countdown.js"></script>
      <script src="assets/js/wow.js"></script>
      <script src="assets/js/isotope-pkgd.js"></script>
      <script src="assets/js/imagesloaded-pkgd.js"></script>
      <script src="assets/js/ajax-form.js"></script>
      <script src="assets/js/main.js"></script>
   </body>
</html>

