<!doctype html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Propulse bank app</title>
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords"
        content="compte, wallet, banking, prêt urgent" />
    <link rel="icon" type="image/png" href="{{ asset('new assets/assets/img/favicon.png') }}" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('new assets/assets/img/icon/192x192.png') }}">
    <link rel="stylesheet" href="{{ asset('new assets/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('new assets/assets/css/src/splide/splide.min.css')}}">
    <link rel="manifest" href="{{ asset('new assets/__manifest.json')}}">
</head>

<body>

  

    <!-- App Header -->
    <div class="appHeader no-border transparent position-absolute">
        <div class="left">
            <a href="app-login.html#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle"></div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section mt-2 text-center">
            <h1>Log in</h1>
            <h4>Fill the form to log in</h4>
        </div>
        <div class="section mb-5 p-2">

            
                <div class="card">
                    <div class="card-body pb-1">
                   {% for message in app.session.flashBag.get('success') %}
                <div class="alert alert-success alert-dismissible">
                    
                    {{ message }}.
                </div>
            {% endfor %}
            {{ form_start(form) }}
            <label>Prénom</label>
            <div class="input-group mb-3">
                {{ form_widget(form.nom,{'attr': {'class': 'form-control','placeholder':'Prénom'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>
            <label>Nom de famille</label>
            <div class="input-group mb-3">
                {{ form_widget(form.prenom,{'attr': {'class': 'form-control','placeholder':'Nom de famille'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>
            <label>Email</label>
            <div class="input-group mb-3">
                {{ form_widget(form.email,{'attr': {'class': 'form-control','placeholder':'Email'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>
            <label>Numéro de téléphone</label>
            <div class="input-group mb-3">
                {{ form_widget(form.tel,{'attr': {'class': 'form-control','placeholder':'Numéro de téléphone'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-phone"></span>
                    </div>
                </div>
            </div>
            <label>Pays</label>
            <div class="input-group mb-3">
                {{ form_widget(form.countries,{'attr': {'class': 'form-control','placeholder':'Pays'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>
            <label>État</label>
            <div class="input-group mb-3">
                {{ form_widget(form.states,{'attr': {'class': 'form-control','placeholder':'État'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>
            <label>Ville</label>
            <div class="input-group mb-3">
                {{ form_widget(form.cities,{'attr': {'class': 'form-control','placeholder':'Ville'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>
            <label>Code postal</label>
            <div class="input-group mb-3">
                {{ form_widget(form.postal,{'attr': {'class': 'form-control','placeholder':'Code postal'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>
            <label>Adresse</label>
            <div class="input-group mb-3">
                {{ form_widget(form.address,{'attr': {'class': 'form-control','placeholder':'Adresse'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>









            <label>Entreprise</label>
            <div class="input-group mb-3">
                {{ form_widget(form.employer,{'attr': {'class': 'form-control','placeholder':'Entreprise'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>
            <label>Poste occupé</label>
            <div class="input-group mb-3">
                {{ form_widget(form.employee,{'attr': {'class': 'form-control','placeholder':'Poste occupé'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>

            

            

            <div class="input-group mb-3">
                {{ form_widget(form.pin,{'attr': {'class': 'form-control','placeholder':'Code PIN'}}) }}
                <div class="input-group-append">
                    <div class="input-group-text">

                    </div>
                </div>
            </div>

        </div>
            
        <div class="form-button-group  transparent">
            <button type="submit" class="btn btn-primary btn-block btn-lg">S'inscrire</button>
          </div>

        {{ form_end(form) }}
    </div>

    <a href="{{ path('app_login') }}" class="text-center">J'ai déjà un compte</a>

    </div>
    <!-- * App Capsule -->


<!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="{{ asset('new assets/assets/js/lib/bootstrap.bundle.min.js')}}"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="{{ asset('new assets/assets/js/plugins/splide/splide.min.js')}}"></script>
    <!-- Base Js File -->


</body>

</html>


      
   




