{% extends "base.html.twig" %} {# Modèle Twig vide #}

{% block menu %}
    <li class="nav-item">
            <a href="{{ path('bk_home') }}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tableau de bord
                <i class="right"></i>
              </p>
            </a>
            
          </li>

    <li class="nav-item">
        <a href="{{ path('bk_statement') }}" class="nav-link">
            <i class="nav-icon fas fa-history"></i>
            <p>
                Relevé électronique
                <span class="badge badge-info right">{{ app.user.user.account.transactions | length }}</span>
            </p>
        </a>
    </li>

    <li class="nav-item">
            <a href="{{ path('bk_tr1_add') }}" class="nav-link active">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Transfert
                
              </p>
            </a>
          </li>
          
         
          

    <li class="nav-item">
        <a href="{{ path('bk_cc_list') }}" class="nav-link">
            <i class="nav-icon fas fa-credit-card"></i>
            <p>
                Carte de crédit
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('bk_loan_ask') }}" class="nav-link">
            <i class="nav-icon fas fa-hand-holding-usd"></i>
            <p>
                Demande de prêt
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('bk_loan') }}" class="nav-link">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>
                Menu des prêts
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{{ path('bk_recip') }}" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
                Mes bénéficiaires
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>
    <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tools"></i>
              <p>
                Paramètres
                
              </p>
            </a>
            
          </li>

    <li class="nav-item">
        <a href="{{ path('bk_help') }}" class="nav-link">
            <i class="nav-icon fas fa-question-circle"></i>
            <p>
                Obtenez de l'aide
                <span class="right badge badge-danger"></span>
            </p>
        </a>
    </li>
{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-globe"></i>
                        Transfert International
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <center>
                        <a href="{{ path('bk_intl') }}"><img width="85%" height="400px" src="{{ asset('img/intl.png') }}"/></a>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-map-marker-alt"></i>
                        Transfert Local
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <center>
                        <a href="{{ path('bk_local') }}"><img width="85%" height="400px" src="{{ asset('img/local.png') }}"/></a>
                    </center>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
